<table>
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Balance</th>
</tr>
    <tr> 
       <td> <%= @customer.name %> </td>
       <td> <%= @customer.email %> </td>
       <td> <%= @customer.current_balance %> </td>
    </tr>
</table>